html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.screen {
  width: 320px;
  height: 460px;
  border: 0px black solid;
  position: relative;
  background-color: #ddd;
}

.icon.left {
  float: left;
}
.icon.right {
  float: right;
}

.speech-pinyin {
  font-family: 'Heiti SC';
  font-size: 30pt;
  line-height: 0.8em;
  padding-top: 0.4em;
}
.left.speech-pinyin {
  margin-left: 75px;
}
.right.speech-pinyin {
  margin-right: 75px;
  text-align: right;
}

.thought-english {
  font-family: serif;
  font-size: 30pt;
  line-height: 0.8em;
  padding-top: 0.3em;
}
.left.thought-english {
  margin-left: 75px;
}
.right.thought-english {
  margin-right: 75px;
  text-align: right;
}

.think-time {
  background-color: #eee;
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 10px;
  margin-top: 25px;
}
.think-time.past {
  visibility: hidden;
}


.box h3{
  text-align:center;
  position:relative;
  top:80px;
}
.box {
  width:70%;
  height:200px;
  background:#FFF;
  margin:40px auto;
}
.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.past-card {
  position: absolute;
  top: 10px;
  width: 10px;
  bottom: 250px;
  z-index: 2;
  border: 0px #ccc solid;
  background-color: white;
}
.future-card {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 10px;
  bottom: 250px;
  z-index: 2;
  border: 0px #ccc solid;
  background-color: white;
}
.present-card {
  position: absolute;
  bottom: 250px;
  left: 20px;
  right: 20px;
  top: 10px;
  background-color: white;
  border: 0px #ccc solid;
  z-index: 2;
}
.present-card .bent-corner {
  position: absolute;
  background: url("../shadows/pagecurl2.png") 0px 0px no-repeat;
  background-size: 130px 82px;
  bottom: 0px;
  height: 82px;
  width: 130px;
  cursor: pointer;
}
.present-card .time-warning {
  position: absolute;
  bottom: 12px;
  left: 80px;
  font-family: sans-serif;
  color: #800;
  font-weight: bold;
  font-size: 18pt;
  text-align: right;
  line-height: 100%;
  right: 12px;
}
.present-card .time-warning input {
  width: 100%;
  font-size: 18pt;
  background-color: transparent;
  text-align: right;
  padding: 0;
  padding-right: 2px;
}
.present-card .time-warning input::-webkit-input-placeholder {
  color: #800;
  font-weight: bold;
  font-size: 16pt;
}
.bottom-half {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 200px;
  background-color: gray;
}

.drawing-pad {
  border: 0px black solid;
  width: 320px;
  height: 200px;
  background-color: #eee;
}

.screen {
  background-color: white;
}

.utterance {
  margin-bottom: 10px;
}
.utterance .word {
  padding-right: 0px;
  display: inline-block;
  text-align: left;
}
.utterance .word .spanish {
  font-style: italic;
  margin-right: 5px;
  font-size: 16pt;
  line-height: 100%;
}
.utterance .word .spanish .gloss {
  color: #aaa;
  line-height: 50%;
  margin-right: 5px;
  font-size: 10pt;
  font-family: 'AvenirNextCondensed-UltraLight';
  line-height: 50%;
}
.rating1 {
  color: green;
}
.rating2 {
  color: #770;
}
.rating3 {
  color: red;
}

.excerpt { width: 320px; min-height: 64px; border-bottom: 1px #777 solid; cursor: pointer; position: relative; clear: both; }
.excerpt.nonexpanded { height: 64px; overflow: hidden; }
.excerpt .cover { width: 64px; height: 64px; position: absolute; right: 0; bottom: 0; }
.excerpt.nonexpanded .cover {
  -webkit-filter: grayscale(100%) brightness(0.65);
  filter:         grayscale(100%) brightness(0.65);
}
.excerpt .play-button { width: 64px; height: 64px; background: url('../images/play_button4.png'); background-size: 64px 64px; position: absolute; right: 0; bottom: 0; }
.excerpt .quote { font-size: 15pt; margin-left: 5px; margin-right: 75px; line-height: 125%; padding-top: 5px; }
.excerpt .song-name { font-style: italic; font-size: 16pt; margin-left: 5px; }
.excerpt .artist-name { font-size: 16pt; margin-left: 5px; }
.excerpt .spinner { position: absolute; right: 0; bottom: 0; display: none; }
.excerpt .utterance { margin-right: 64px; }

.spinner {
  width: 50px;
  height: 50px;
  border: solid #FFF;
  border-width: 7px 0px 0px 0px;
  margin: 7px; /* (64px - 50px) / 2 */
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: spin 0.5s infinite linear;
     -moz-animation: spin 0.5s infinite linear;
       -o-animation: spin 0.5s infinite linear;
          animation: spin 0.5s infinite linear;
}
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes spin {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes spin{
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

input#query {
  font-size: 20pt;
  width: 265px;
  height: 50px;
  border: 1px #777 solid;
}

button.search {
  width: 50px;
  height: 50px;
  background: #777 url('../images/magnifying_glass.png') no-repeat 8px 8px;
  background-size: 30px 30px;
  vertical-align: bottom;
}
